@import url('https://fonts.googleapis.com/css2?family=Karma:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');

.nav-link{
    border-bottom: 2px solid transparent;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
    font-family: 'Poppins', sans-serif;
    font-size: .85em !important;
    color: white !important;
}

.navbar-brand{
    font-family: 'Karma', serif;
    font-weight: 500;
}

.navbar-toggler{
    &:focus {
        outline: none !important;
        border: 1px solid rgba(33, 230, 193, 0.3);
        box-shadow: 0 0 10px rgba(33, 230, 193, 0.3);
        color: #f1faee;
    }
}

.badge{
    background-color: rgba(241, 250, 238, .8);
    color: #212529;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: .3em .5em .2em;
    font-size: 1em;
}